$text: #522b29;
$link: lighten($text,10);
$linkVisited: lighten($text,20);
$titleBg: darken(#37FF8B, 20);
$background: #8D9EC6;
$prevFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$prevBg: lighten($background,10);

@mixin window {
  border: 1px solid $text;
  box-sizing: border-box;
  box-shadow: 4px 4px 3px 2px rgb(0 0 0 / 60%);
  .title{
    border: 1px solid $text;
    box-sizing: border-box;
    margin: 0px;
    padding: .3rem;
    background-color: $titleBg;
        font-family: monospace;
    color: $link;
  }
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  &By, &Title{
    font-family: monospace;
    color: $text;
  }
  &By {
    font-size: 1.25rem;
    margin: .75rem;
  }
}

.editor{
  &Wrap{
    @include window;
    margin-bottom: 2rem;
    #editor {
      width: 40vw;
      min-height: 250px;
      resize: vertical;
      outline: none;
      margin-bottom: -5px;
      font-size: 1rem;
      padding: .5rem;
    }
  }
}
.preview{
  &Wrap{
    @include window;
    background-color: $prevBg;
    width: 80vw;
  }
}

#preview {
  font-family: 'arial';
  color: $text;
  margin: 2rem;
  img {
    max-width: 100%;
  }
  a{
    color: $link;
    &:visited {
      color: $linkVisited;
    }
    &:hover, &:active {
      color: $text;
    }
  }
  pre {
    background-color: darken($background, 30);
    padding: 1rem;
    color: lighten($titleBg, 10);
  }
  
  blockquote{
    $quoteText: lighten($text, 20);
    border-left: 3px solid $quoteText;
    padding: .5rem;
    color: $quoteText;
  }
  
  table{
    border-collapse: collapse;
    &, thead, tbody, tr, th, td {
      border: 3px solid $text;
      padding: .3rem;
    }
  }
}